In [1]:
#Q1. Create one variable containing following type of data:

#(i)	string

#(ii)	list

#(iii)	float

#(iv)	tuple

In [2]:
# Answer

In [3]:
a = 'i am student of pwskills'

In [4]:
b = [2,3,4,True,False,56.87,'anand',4+9j]

In [5]:
c = 45.98

In [6]:
d = (4, 'anand', 5.7, 6+3j)

In [7]:
print(type(a),type(b),type(c),type(d))

<class 'str'> <class 'list'> <class 'float'> <class 'tuple'>

In [8]:
#Q2. Given are some following variables containing data:

#(i)	var1 = ‘ ‘

#(ii)	var2 = ‘[ DS , ML , Python]’

#(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

#(iv)	var4 = 1.


#What will be the data type of the above given variable.

In [9]:
# Answer

In [10]:
# (1) string

In [11]:
# (2) string

In [12]:
# (3) list

In [13]:
# (4) float

In [ ]:
# Q3. Explain the use of the following operators using an example:

#(i)	/

#(ii)	% 

#(iii)	//

#(iv)	**

In [1]:
# Answer

In [2]:
# (1) /, It gives the Quotient in the output.

In [3]:
6/2

3.0

In [4]:
# (2) %, It gives the remainder

In [5]:
7 % 3

1

In [6]:
# (3) //, It gives the qoutient by making it to equivalent integer

In [7]:
8 // 4

2

In [8]:
# (4) **, It is a exponential operator, which takes the right hand side value to the power of the left hand side value

In [10]:
5**5

3125

In [11]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its type.

In [12]:
a = [2,3,5.8,'anand',5+7j,True,False,19,'pwskills',74+8j]

In [14]:
for i in a :
    print(i,type(i))

2 <class 'int'>
3 <class 'int'>
5.8 <class 'float'>
anand <class 'str'>
(5+7j) <class 'complex'>
True <class 'bool'>
False <class 'bool'>
19 <class 'int'>
pwskills <class 'str'>
(74+8j) <class 'complex'>

In [15]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many time it can be divisible.

In [16]:
# Answer

In [17]:
A = 100
B = 5
count = 0

while A % B == 0:
    count += 1
    A /= B

print("A is divisible by B", count, "times")

A is divisible by B 2 times

In [18]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [19]:
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [20]:
type(a)

list

In [21]:
for i in a :
    if i%3==0:
        print(i,'is divisible by 3')
    else:
        print(i,'is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [22]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [23]:
# Immutable date type: A data type which cannot be eddited, which means we cannot do any changes in terms of adding, removing, replacing with the help of index value.

In [24]:
a = 'anand,3,4'

In [25]:
type(a)

str

In [26]:
a[0]=p

NameError: name 'p' is not defined

In [27]:
# Mutable data type: A data type which can be eddited, which means we can do any changes in terms of adding, removing, replacing with the help of index value.

In [ ]:
b = []